@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  box-sizing: border-box;
}
:root {
  --color-primary-dark: #2c233e;
  --color-secondary-dark: #572a4d;
  --color-primary-light: #cb9a9f;
  --color-secondary-light: #d07669;
}
ul {
  list-style-type: none;
}
body {
  color: var(--color-primary-dark);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
}
p {
  margin: 0;
}
address {
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}
.section {
  padding: 48px 0;
}

.button {
  padding: 8px 16px;
  border-radius: 32px;
  border: solid;
  cursor: pointer;
  color: white;
  background-color: var(--color-secondary-light);
  &:hover {
    color: white;
  }
  margin: 20px 0;
}

.container {
  width: 100%;
  max-width: 1288px;
  margin: 0 auto;
}
.section-titles {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  margin-left: auto;
  margin-right: auto;
  font-family: "Play", sans-serif;
}
